        <article class="post">
                <h3 class="post-header">
                    <a href="/post/{{id}}">{{title}}</a>
                    <span class="user-name">
                        Posted by {{user.username}} on {{format_date created_at}}
                    </span>
                </h3>
                <div class="post-text">
                <span>{{post_text}}</span>
                </div>
        </article>