        <article class="post">
            <div class="title">
                <h3>
                    <a href="/post/{{id}}">{{title}}</a>
                    <div>
                        Posted by {{user.username}} on {{format_date created_at}}
                    </div>
                </h3>
                <span>{{post_text}}</span>
            </div> 
        </article>